{% extends 'views_reg/base_new.html' %}

{% block title%}About{% endblock title %}

{% block body %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>About</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>About</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4" data-aos="fade-up">
        <div class="col-lg-4">
          <img src="static/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8">
          <div class="content ps-lg-5">
            <h3>Voluptatem dignissimos provident quasi</h3>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
            </p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
              </li>
              <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

<!-- ======= Why Choose Us Section ======= -->
<section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Why Choose Us</h2>

    </div>

    <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

      <div class="col-xl-5 img-bg" style="background-image: url('static/img/why-us-bg.jpg')"></div>
      <div class="col-xl-7 slides  position-relative">

        <div class="slides-1 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="item">
                <h3 class="mb-3">Finance</h3>
                <h4 class="mb-3">Consumer suitable loans</h4>
                <p>Many people today have difficulty managing their personal funds thereby ending up in debt. Those having financial problems can now easily get help with us. With numerous charges offering financial loans, here’s a lot of useful information to be gained.</p>
              </div>
            </div><!-- End slide item -->

            <div class="swiper-slide">
              <div class="item">
                <h3 class="mb-3">Accounting</h3>
                <h4 class="mb-3">Whole accounting</h4>
                <p>When in business, it’s important that the owners know how to keep track of their expenses and income. This is to ensure that you know how your enterprise is doing amidst the competition in the industry and where your money is going. As such, having an accountant to help you is highly recommended.  </p>
              </div>
            </div><!-- End slide item -->

            <div class="swiper-slide">
              <div class="item">
                <h3 class="mb-3">Stock Broker</h3>
                <h4 class="mb-3">Sub Broker of 5 paisa</h4>
                <p>Investing that are managed well have a great chance of succeeding and sustaining for the long term. However, some owners may find a more lucrative venture in the future and decide to get a demat account. For this reason, they will need the help of brokers to get right decision.</p>
              </div>
            </div><!-- End slide item -->

            <div class="swiper-slide">
              <div class="item">
                <h3 class="mb-3">Stock Market</h3>
                <h4 class="mb-3">Analysing the Market</h4>
                <p>If, however, you are interested in dabbling in the stock market – or you already are – then you would also be interested in following related analyse very closely. At Capitals scope, this is exactly what you will get. While the analyse is updated everyday and live, you are sure to get stock market-specific updates when they come up.</p>
              </div>
            </div><!-- End slide item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>

  </div>
</section><!-- End Why Choose Us Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>“Money is a terrible master but an excellent servant.”</h3>
            <h4 class="title"><a href="#" class="stretched-link">~P.T. Barnum~</a></h4>
            <p>Barnum points out that, if all you do is work for money, it essentially becomes your master.
               On the other hand, if you put your money to work paying bills and for life’s necessities, acquiring assets and other investments, etc., 
               it serves you. So strive to be the master of your destiny—financially, anyway—by ensuring you’re the master of your money.</p>
            <a class="cta-btn" href="/coantact">Call To Action</a>
            
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->
  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Team</h2>

      </div>

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <div class="member-img">
              <img src="static/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <img src="static/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member">
            <div class="member-img">
              <img src="static/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member">
            <div class="member-img">
              <img src="static/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>
  </section><!-- End Team Section -->

</main><!-- End #main -->

{% endblock body %}