{% extends 'views_reg/base1.html' %}

{% block title%}Live Market{% endblock title %}

{% block body %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h1>Reset Your Password</h1>     
        <h5>Enter Your New Password</h5>     
        <form method="Post"> 
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit">Change Password</button> 
        </form>
    <div class="col-md-4">
    </div>
    </div>
</div>
     


{% endblock body %}